.message_page__body
  .message_page__body__info
    .message_page__body__info_user_name
      oyaji
    .message_page__body__info_date
      2019/02/18(Mon)16:00:00
  .message_page__body__message
    hogehoge
