
.message-page__body
  .message-page__body__info
    .message-page__body__info_user-name
      oyaji
    .message-page__body__info_date
      2019/02/18(Mon)16:00:00
  .message-page__body__message
    hogehoge
