body {
  height: 100vh;
  width: 100vw;

  .side_bar {
    width: 300px;
    float: left;

    &__top {
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      &_icon {
        float: right;
        line-height: 100px;
         a {
          color: white;
          }
      }
      &_user_name {
        color: $color-a;
        font-size: 16px;
        font-weight: bold;
        line-height: 100px;
      }
    }

    &__groups {
      background-color: #2f3e51;
      padding: 20px 20px 0 20px;
      height: calc(100vh - 120px);
      &_group_name {
        color: $color-a;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &_message {
        color: $color-a;
        font-size: 11px;
        font-weight: bold
      }
    }
  }
}
